<html>
    <head>
      {% if title %}
      <title>{{ title }} - Baseball</title>
      {% else %}
      <title>Welcome to Baseball</title>
      {% endif %}
	    
	<style>
	th, td {
		padding: 5px;
		text-align: center;
	}
	th {
		background-color: #dbd7d7;
		color: #821010;
	}
	tr:hover {
		background-color: #f5ecc1;
	}
	</style>
    </head>
    <body>
        <div>
		<img src="https://i.imgur.com/Vv8sDAN.png" alt="baseball logo" height="70">
		<ul>
			<li><a href={{ url_for('index') }} >Home</a></li>
			{% if current_user.is_anonymous %}
			<li><a href={{ url_for('login') }}>Login</a></li>
			{% else %}
			<li><a href={{ url_for('search') }} >Search</a></li>
			<li><a href={{ url_for('logout') }}>Logout</a></li>
			{% endif %}
		</ul>	
	</div>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block blockname %}{% endblock %}
    </body>
</html>
