<html>
    <head>
      {% if title %}
      <title>{{ title }} - Baseball</title>
      {% else %}
      <title>Welcome to Baseball</title>
      {% endif %}
	    
	<style>
	th, td {
		padding: 5px;
		text-align: center;
	}
	th {
		background-color: #dbd7d7;
		color: #821010;
	}
	tr:hover {
		background-color: #f5ecc1;
	}
	</style>
    </head>
    <body>
        <div>
		Baseball: 
		<a href={{ url_for('index') }} >Home</a>
		{% if current_user.is_anonymous %}
		<a href={{ url_for('login') }}>Login</a>
		{% else %}
		<a href={{ url_for('search') }} >Search</a>
		<a href={{ url_for('logout') }}>Logout</a>
		{% endif %}
		
	</div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block blockname %}{% endblock %}
    </body>
</html>
