{% extends "base.html" %}

{% block blockname %}
    <h1>Player {{ title }} </h1>
    {% if title == 'Search' %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.playerid.label }}<br>
            {{ form.playerid(size=32) }}
	    {{ form.playerid(placeholder="playerid") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% else %}
	{% if stats %}
            {% if form.playerid.data in favorites %}
	    	<h3>Player Favorited</h3>
		<input type="submit" name="Remove" value="Remove">
	    {% else %}	    
	    	<h3>Favorite Player?</h3>
	    	<input type="submit" name="Save" value="Save">

	    <center><table bgcolor="#ff00ff"></table></center>
            <table border="1"><tr><th>Name</th><th>Year</th><th>Age</th><th>Team</th><th>Lg</th><th>G</th><th>PA</th><th>AB</th><th>R</th><th>H</th><th>2B</th><th>3B</th><th>HR</th><th>RBI</th><th>SB</th><th>CS</th><th>BB</th><th>SO</th><th>RC</th><th>RC27</th><th>OBP</th><th>SLG</th><th>OPS</th><th>PARC</th><th>PARC27</th></tr>
            {% for line in stats %}
            <tr>
                    <td>{{line.playerid}}</td>
                    <td>{{line.yearID}}</td>
		    <td>{{line.age}}</td>
		    <td>{{line.teamID}}</td>
		    <td>{{line.lgid}}</td>
		    <td>{{line.G}}</td>
		    <td>{{line.PA}}</td>
		    <td>{{line.AB}}</td>
		    <td>{{line.R}}</td>
		    <td>{{line.H}}</td>
		    <td>{{line.B2}}</td>
		    <td>{{line.B3}}</td>
		    <td>{{line.HR}}</td>
		    <td>{{line.RBI}}</td>
		    <td>{{line.SB}}</td>
		    <td>{{line.CS}}</td>
		    <td>{{line.BB}}</td>
		    <td>{{line.SO}}</td>
                    <td>{{line.RC}}</td>
                    <td>{{line.RC27}}</td>
		    <td>{{line.OBP}}</td>
		    <td>{{line.SLG}}</td>
		    <td>{{line.OPS}}</td>
		    <td>{{line.PARC}}</td>
		    <td>{{line.PARCper27}}</td>
            </tr>
            {% endfor %}
            </table>
            </center>
	{% else %}
	    <h3>No results found! Please try another query.</h3>
        {% endif %}
    {% endif %}

{% endblock %}
