{% extends "base.html" %}

{% block blockname %}
    <h1>Player {{ title }} </h1>
    {% if title == 'Search' %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.playerid.label }}<br>
            {{ form.playerid(size=32) }}
	    {{ form.playerid(placeholder="playerid") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% else %}
	{% if stats %}
            <h3>Favorite Player?</h3>

	    <center>
            <table border="1"><tr><th>Name</th><th>Year</th><th>RC</th><th>RC27</th><th>OBP</th></tr>
            {% for line in stats %}
            <tr>
                    <td>{{line.playerid}}</td>
                    <td>{{line.yearID}}</td>
                    <td>{{line.RC}}</td>
                    <td>{{line.RC27}}</td>
		    <td>{{line.OBP}}</td>
            </tr>
            {% endfor %}
            </table>
            </center>
	{% else %}
	    <h3>No results found! Please try another query.</h3>
        {% endif %}
    {% endif %}

{% endblock %}
