{% extends "base.html" %}

{% block blockname %}

<script>
	function save(){
		var playerid;
		playerid = document.getElementById("userinput").value;
	}
</script>

    <h1>Player {{ title }} </h1>
    {% if title == 'Search' %}
    <form id="userinput" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.playerid.label }}<br>
            {{ form.playerid(size=32,placeholder="bangsplat01") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% else %}
	{% if stats %}
            {% if form.playerid.data in favorites %}
	    	<h3>Player Favorited</h3>
		<button onclick="remove()">Remove</button>
	    {% else %}	    
	    	<h3>Favorite Player?</h3>
	    	<button onclick="save()">Save</button>
	<center>
	  <iframe width="560" height="315" src="https://youtu.be/3aBmXzGWW7k?t=410" frameborder="0" allowautoplay>
	  </iframe>
	</center>
	    <center>
            <table border="1"><tr>
		    <th title="Player Name">Name</th>
		    <th title="It's the year...">Year</th>
		    <th title="Age of player">Age</th>
		    <th title="teamID from Lahman database">Team</th>
		    <th title="League participated in">Lg</th>
		    <th title="Games played">G</th>
		    <th title="Plate Appearences">PA</th>
		    <th title="At-Bats">AB</th>
		    <th title="Runs">R</th>
		    <th title="Hits/Hits allowed">H</th>
		    <th title="Doubles hit/allowed">2B</th>
		    <th title="Triples hit/allowed">3B</th>
		    <th title="Homeruns hit/allowed">HR</th>
		    <th title="Runs Batted In">RBI</th>
		    <th title="Stolen Bases">SB</th>
		    <th title="Caught Stealing">CS</th>
		    <th title="Bases on balls/walks">BB</th>
		    <th title="Strikeouts">SO</th>
		    <th title="Runs Created">RC</th>
		    <th title="Runs Created per 27">RC27</th>
		    <th title="On-Base Percentage">OBP</th>
		    <th title="Slugging Percentage">SLG</th>
		    <th title="On-base Plus Slugging">OPS</th>
		    <th title="Park Adjusted Runs Created">PARC</th>
		    <th title="Park Adjusted Runs Created per 27">PARC27</th></tr>
            {% for line in stats %}
            <tr>
                    <td>{{line.Name}}</td>
                    <td>{{line.yearID}}</td>
		    <td>{{line.age}}</td>
		    <td>{{line.teamID}}</td>
		    <td>{{line.lgID}}</td>
		    <td>{{line.G}}</td>
		    <td>{{line.PA}}</td>
		    <td>{{line.AB}}</td>
		    <td>{{line.R}}</td>
		    <td>{{line.H}}</td>
		    <td>{{line.B2}}</td>
		    <td>{{line.B3}}</td>
		    <td>{{line.HR}}</td>
		    <td>{{line.RBI}}</td>
		    <td>{{line.SB}}</td>
		    <td>{{line.CS}}</td>
		    <td>{{line.BB}}</td>
		    <td>{{line.SO}}</td>
                    <td>{{line.RC}}</td>
                    <td>{{line.RC27}}</td>
		    <td>{{line.OBP}}</td>
		    <td>{{line.SLG}}</td>
		    <td>{{line.OPS}}</td>
		    <td>{{line.PARC}}</td>
		    <td>{{line.PARCper27}}</td>
            </tr>
            {% endfor %}
            </table>
            </center>
	
	{% else %}
	    <h3>No results found! Please try another query.</h3>
        {% endif %}
    {% endif %}

{% endblock %}
